.root-user { 
    .root-user-banner {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 200px;
    }

    .banner-image {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }

    .user-container { 
        padding: 0 24px;
        display: flex;
    }

    .user-info { 
        position: sticky;
        align-self: flex-start; 
        width: 312px;
        top: 40px;
    }

    .user-avatar-image { 
        width: 156px;
        height: 156px;
        border-radius: 43px;
    }

    .user-avatar-container { 
        width: 156px;
        height: 156px;
    }

    .user-avatar { 
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -132px;
        justify-content: center;
    }

    .user-main-info { 
        text-align: center;
        margin-top: 20px; 
    }

    .user-wallet-info span { 
        display: block;
        margin-top: 4px;
        font-size: 14px;
        line-height: 1em;
        font-weight: 400;
        color: rgb(107, 110, 128);
    }

    .user-wallet-info { 
        width: 50%;
        line-height: 1em; 
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        color: #A8A8A8; 
    }

    .vertical-border { 
        border-left: 1px solid rgb(43, 45, 60);
        width: 1px;
        margin: 0px;
    }

    .user-info-field { 
        display: flex;
        background-color: rgb(28, 29, 38);
        border:  1px solid rgb(43, 45, 60);
        border-radius: 10px;
        padding: 16px; 
        margin-top: 20px; 
    }

    .user-stars-field { 
        flex-direction: column;
    }

    .user-stars-field p { 
        color: rgb(107, 110, 128);
    }

    .user-stars { 
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 5px; 
    }

    .user-stars-container { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user-reviews-info { 
        font-size: 14px;
        color: rgb(107, 110, 128);
        line-height: 1.1em;
        text-align: right;
        align-items: center;
        justify-content: center;
    }

    .user-description-content { 
        margin-top: 10px; 
        margin-top: 8px;
        font-size: 16px;
        line-height: 1.36em;
        overflow-wrap: break-word;
        color: #A8A8A8; 
    }

    .user-description { 
        flex-direction: column;
    }

    .user-description-header { 
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        margin: 0px;
        color: rgb(107, 110, 128);
    }
}