.root-tohome { 
    display: flex;
    left: 15px; 
    top: 15px; 
    position: absolute; 
    align-items: center;
    cursor: pointer;
}

.tohome-back-long-arrow { 
    width: 45px;
    height: 30px;
    rotate: 180deg;
}