.inputfield-input { 
    border: 1px solid #384153; 
    padding: 10px 6px;
    border-radius: 3px;
    color: var(--text-color); 
}

.inputfield-input:focus { 
    outline: none;
}

.root-inputfield { 
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.input-title-text { 
    margin-bottom: 6px;
}