.navbar-root {
    position: fixed; /* Фиксирует navbar на верхней части экрана */
    top: 0; /* Отступ сверху */
    right: 0; /* Выравнивание по правому краю */
    z-index: 2; /* Убедитесь, что navbar находится поверх других элементов */
    width: 85%; /* Фиксированная ширина */
    height: 7%; /* Фиксированная высота */
    display: flex;
    align-self: end;
    flex-direction: row;
    justify-content: space-between; /* Распределение пространства между элементами */
    align-items: center; /* Вертикальное выравнивание элементов */
    margin: 0 auto; /* Автоматический отступ справа и слева для центрирования */
    border-bottom: 1px solid black; /* Нижняя граница */
    box-shadow: 0 4px 2px -2px gray; /* Тень под navbar */
    background-color: #2F3241;
}

.navbar-searchbar{
    display: flex;
    flex-direction: row;
    background-color: #101010;
    border: #696969 solid 1px;
}
.navbar-searchbar_contant{
    display: flex;
    flex-direction: row;
}