.navbar-root {
    position: fixed; /* Фиксирует navbar на верхней части экрана */
    top: 0; /* Отступ сверху */
    right: 0; /* Выравнивание по правому краю */
    z-index: 2; /* Убедитесь, что navbar находится поверх других элементов */
    display: flex;
    align-self: end;
    flex-direction: row;
    justify-content: end;
    align-items: center; /* Вертикальное выравнивание элементов */
    margin: 0 auto; /* Автоматический отступ справа и слева для центрирования */
    border-bottom: #2F3241 solid 1px; 
    background-color: #1B1D27;
}

.navbar-searchbar{
    background-color: #101010;
}

.navbar-item { 
    display: flex;
    align-items: center; 
    margin-right: 20px;
}

.navbar-root { 
    width: 100%;
    height: 80px;
}

.navbar-home-link { 
    width: 33px;
    height: 33px;
    border-radius: 5px;
}

.navbar_notification { 
    padding: 5px; 
    background-color: #202027;
    border: 1px solid #2F3241; /* Slightly lighter border for contrast */
    border-radius: 5px;
}

.navbar_notification img { 
    margin-right: 5px;
} 

.navbar_payment { 
    padding: 6px;
    background-color: #202027;
    border: 1px solid #2F3241; /* Slightly lighter border for contrast */
    border-radius: 5px;
}

.navbar_payment img { 
    margin-right: 10px;
}