.navigationmap-root { 
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.navigationmap-element { 
    color: rbga(0, 0, 0, 0.6); 
    margin: 18px 10px 0 0; 
}

.navigationmap-link {
    margin: 10px 0; 
    color: rgb(177, 179, 192); 
    opacity: 0.6;
    text-decoration: none;
}

.navigationmap-link:visited { 
    color: rgb(181, 184, 199); 
}